In [1]:
import pandas as pd

In [81]:
data = pd.read_csv('imdb.csv')

In [24]:
len(data[data['sentiment']=='positive'])

25000

In [82]:
data

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [84]:
data = data.copy()

In [26]:
data['sentiment'] = [data['sentiment'] == 'positive'] = '1'

In [54]:
data['sentiment'] = [i for i in data['sentiment']]

In [88]:
data['sentiment'] = [1 if i=='positive' else 0 for i in data['sentiment']]

In [89]:
data

                                                  review  sentiment
0      One of the other reviewers has mentioned that ...          0
1      A wonderful little production. <br /><br />The...          0
2      I thought this was a wonderful way to spend ti...          0
3      Basically there's a family where a little boy ...          0
4      Petter Mattei's "Love in the Time of Money" is...          0
...                                                  ...        ...
49995  I thought this movie did a down right good job...          0
49996  Bad plot, bad dialogue, bad acting, idiotic di...          0
49997  I am a Catholic taught in parochial elementary...          0
49998  I'm going to have to disagree with the previou...          0
49999  No one expects the Star Trek movies to be high...          0

[50000 rows x 2 columns]

In [87]:
data

                                                  review  sentiment
0      One of the other reviewers has mentioned that ...          1
1      A wonderful little production. <br /><br />The...          1
2      I thought this was a wonderful way to spend ti...          1
3      Basically there's a family where a little boy ...          0
4      Petter Mattei's "Love in the Time of Money" is...          1
...                                                  ...        ...
49995  I thought this movie did a down right good job...          1
49996  Bad plot, bad dialogue, bad acting, idiotic di...          0
49997  I am a Catholic taught in parochial elementary...          0
49998  I'm going to have to disagree with the previou...          0
49999  No one expects the Star Trek movies to be high...          0

[50000 rows x 2 columns]

In [27]:
data['sentiment'][data['sentiment'] == 'negative'] = '0'

In [38]:
dic = {'positive':1,'negative':0}
data['sentiment'] = data['sentiment'].map(dic)
data

                                                  review  sentiment
0      One of the other reviewers has mentioned that ...        NaN
1      A wonderful little production. <br /><br />The...        NaN
2      I thought this was a wonderful way to spend ti...        NaN
3      Basically there's a family where a little boy ...        0.0
4      Petter Mattei's "Love in the Time of Money" is...        NaN
...                                                  ...        ...
49995  I thought this movie did a down right good job...        NaN
49996  Bad plot, bad dialogue, bad acting, idiotic di...        0.0
49997  I am a Catholic taught in parochial elementary...        0.0
49998  I'm going to have to disagree with the previou...        0.0
49999  No one expects the Star Trek movies to be high...        0.0

[50000 rows x 2 columns]

In [8]:
def increase_pop(start_num,percent,num_of_day):
    pop = start_num
    pop_list = []
    for i in range(num_of_day):
        if i == 0:
            pop = start_num
            pop_list.append(pop)
        else:
            pop += pop*percent/100
            pop_list.append(pop)
    for index,i in enumerate(pop_list):
        print(index,i)
start_num = int(input('pls input a start number :'))
percent = int(input('pls input a average :'))
num_of_day = int(input('pls input a total days :'))
increase_pop(start_num,percent,num_of_day)

pls input a start number :2
pls input a average :30
pls input a total days :10
0 2
1 2.6
2 3.38
3 4.394
4 5.7122
5 7.42586
6 9.653618
7 12.5497034
8 16.31461442
9 21.208998746000002